#image{max-width:100%;
    display:block;
    }

body{text-align: center;
background-color:white;}

main{background-color: rgb(240, 236, 236);
border-radius: 20px;}

#title{text-align: center;}

#img-div{background-color: white;
padding: 20px;
justify-content: center;
align-items: center;}

fieldset{border:none;
width:50%;
text-align: left;
margin: auto;
}

div{display: flex;
justify-content: center;
}

h5{font-size: 25px;}

h3, h4{font-style: italic;
font-weight: 100;}